*
{
    margin:0;
    padding: 0;
}
ul,ol
{
    list-style: none ;
}
body
{
    background: #bfbfbf url('images/background.jpg') repeat-x; 
    font-family: Arial, sans-serif;
}
header
{
    padding: 30px 0;
}
header h1
{
    font-size: 40px;
    text-align: center;
    font-family: 'Limelight', sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #000;
}

div {
    text-align: center;
}

.buttons button {
    border-radius: 5px;
    background-color: rgb(54, 50, 50);
    color :#fff;
    height: 60px;
    width: 80px;
    border-color: rgb(48, 45, 228);
    column-count: auto;
    margin-top: 40px;
}
#imageContainer {
    position: relative;
  }
  
  .imageSection {
    position: absolute;
    cursor: pointer;
  }

  section{
    display: flex;
    justify-content: center;
  }

  .photo {
    width: 140px;
    height: 500px;
    background-image: url('images/bw-image.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    
    cursor: pointer;

  }

  

  .b {
    background-position-x: 25%;
  }

  .c {
    background-position-x:  50%; 
  }

  .d {
    background-position-x: 75%;
  }

  .e {
    background-position-x: 100%;
  }

  .actor{
    display: flex;
  }
  
  .description {
    width: 0px;
    background-color:white ;
    
  }

  .c .description {
    background-color: white;
    width: 280px;
    
    
  }

  .e .description {
    overflow: hidden;
  }

  .active{
    background-image: url(images/color-image.jpg);
    
  }

  ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    gap: 50px;
    transition: width 2s, ;
  }

  .artiste{
    font-size: 40px;
  
  }

  .best{
    background-color: blue;
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
    margin-left: 29px;
    border-radius: 12px;
  }

  .exe{
    font-size: 30px;
    
    
  }

 